<footer class="bg-dark text-white pt-5 mt-5">
  <div class="container">
    <div class="row g-4">

      <!-- ABOUT -->
      <div class="col-md-3">
        <h5 class="fw-bold">AB Tutorial</h5>
        <p class="small text-muted">Building strong academic foundation for students.</p>
        <p>🕒 Mon - Sat: 8 AM - 9 PM</p>
        <!-- SOCIAL -->
        <div class="mt-2">
          <a href="https://www.instagram.com/tr_akshay_bora/" class="text-white me-2">Instagram</a>
          <a href="https://www.facebook.com/akshay.bora1122" class="text-white">Facebook</a>
        </div>

      </div>

      <!-- QUICK LINKS -->
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.html" class="text-white">Home</a></li>
          <li><a href="about.html" class="text-white">About</a></li>
          <li><a href="contact.html" class="text-white">Admission</a></li>
          <li><a href="login.html" class="text-white">Login</a></li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="col-md-3">
        <h5>Contact</h5>

        <p>
          <a href="tel:9890724002" class="text-white text-decoration-none">
            📞 9890724002
          </a>
        </p>

        <p>📧 akshaybora82@gmail.com</p>

        <p>
          📍 Rajuri, Tal-Rahata,<br>
          Dist-Ahilyanagar
        </p>
      </div>

      <!-- MAP -->
      <div class="col-md-3">
        <h5>Location</h5>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3758.4856134445545!2d74.5396882747333!3d19.606526135104396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcf57039997e0f%3A0x530c6cc8147bbdf9!2sMahavir%20super%20shopee!5e0!3m2!1sen!2sin!4v1775131650272!5m2!1sen!2sin"
          width="100%" height="150" style="border:0; border-radius:10px;" loading="lazy">
        </iframe>

      </div>

    </div>

    <hr>

    <p class="text-center footerpara">© 2026 AB Tutorial Coaching Classes</p>
  </div>
</footer>

<!-- 💬 WHATSAPP -->
<a href="https://wa.me/919890724002" target="_blank" class="whatsapp-contact">
  <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
  <span>Contact us</span>
</a>